<div class="row" style="padding-top: 12px">
  <% if @post.link %>
  <a href="<%= url(@post.link) %>"><%= @post.title %></a>
  <% else %>
  <%= @post.title %>
  <% end %>
</div>

<div class="row post-details">
  <%= @post.user_name %> <%= ViewHelpers.time_ago(@post.created_at_epoch) %> |
  <%= ViewHelpers.plural(@post.reply_count_int, "reply", "replies") %>
</div>

<div class="row">
  <%= @post.comment %>
</div>

<form action="<%= url('reply') %>" method="POST" id="add-reply">
  <div class="row">
    <div class="twelve columns">
      <label for="reply-comment-textarea">Add Reply</label>
      <textarea class="u-full-width" placeholder="Comment here" id="reply-comment-textarea" name="comment"></textarea>
    </div>
  </div>
  <input type="hidden" name="reply_post_id" value="<%= @post.id %>">
  <input class="button-primary" type="submit" value="Submit" />
</form>

<% @replies.each do |reply| %>
  <div class="row twelve columns reply">
    <div class="post-details"><%= reply.user_name %> <%= ViewHelpers.time_ago(reply.created_at_epoch) %></div>
    <div class="reply-body"><%= reply.comment %></div>
  </div>
<% end %>

<div class="row">
  <a href="#add-reply">Add Reply</a>
</div>